@import '../styles/colors';

.relateditemgallery {


  margin-top: 20 px;
  display: inline;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 40px;
  @media (min-width: 1024px) {
    flex-direction: row;
    align-items: center;
  }

  .relateditems {
    display: inline;
    flex-wrap: wrap;
  }
}