@import '../styles/colors';

.TouristActivity {

  .mainpicture {
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 0px 10px #000;
    margin-bottom: 40px;
  }

  .short {
    font-weight: 800;
  }

  .countrylist{
    display: flex;
    margin-bottom: 40px;
    .country{
      margin-right: 10px;
    }
  }

  .citysegment {
    margin-bottom: 40px;

    .city {
      padding: 10px 0px;
      background-color: #f0f0f0;
      max-width: 100px;
      margin-right: 5px;
      font-weight: 700;
    }
  }


  h1{
    margin-bottom: 10px;
  }


  .title {}

  .first-name {}

  .last-name {}

  .date-of-birth {}

  .nationalities {
    .nationality {}
  }

  .bio {}

  .pictures{
    .picture{}
  }
}